[Desktop Entry]
Encoding=UTF-8
Name=Link to Keras, Regression, and CNNs - PyImageSearch
Type=Link
URL=https://www.pyimagesearch.com/2019/01/28/keras-regression-and-cnns/
Icon=text-html
