[Desktop Entry]
Encoding=UTF-8
Name=Link to Mutivariate-regression-using-Deep-neural-networks-in-Tensorflow/tensorflow_reg_data.py at master · Tathagatd96/Mutivariate-regression-using-Deep-neural-networks-in-Tensorflow · GitHub
Type=Link
URL=https://github.com/Tathagatd96/Mutivariate-regression-using-Deep-neural-networks-in-Tensorflow/blob/master/tensorflow_reg_data.py
Icon=text-html
